# 📀 CONFIGURACIÓN CDR BOT

# Discord Config
DISCORD_TOKEN=tu_token_aqui
CLIENT_ID=app_id_aqui
GUILD_ID=server_id_aqui (Opcional para deploy global)

# Database
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/cdr_bot

# 🎵 Lavalink (Sistema de Música)
# Si lo usas local: localhost. Si es hosting externo, usa la IP/URL de tu nodo.
LAVALINK_URL=localhost
LAVALINK_PORT=2333
LAVALINK_AUTH=cdrbot2026
LAVALINK_SECURE=false

# 🔞 NSFW Engines (Opcionales, el bot tiene bypass público)
RULE34_API_KEY=
RULE34_USER_ID=
GELBOORU_API_KEY=
GELBOORU_USER_ID=
DANBOORU_API_KEY=
DANBOORU_USER=

# ⚙️ Web Server Port (KeepAlive)
PORT=3000
